<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkU2_lVGPS4VlEq5OozTN272_Fm9zW7kY</string>
	<key>GCM_SENDER_ID</key>
	<string>453202429265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFoodorder</string>
	<key>PROJECT_ID</key>
	<string>foodorder-d92ac</string>
	<key>STORAGE_BUCKET</key>
	<string>foodorder-d92ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453202429265:ios:9812033a245a58b1a67f70</string>
</dict>
</plist>